<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wooder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="header-container">
            <button class="menu">
                <div class="sandwitch-menu">
                    <img class="img-sandwitch1" src="./img/Sandwitch.png" alt="">
                    <img class="img-sandwitch2" src="./img/Sandwitch.png" alt="">
                    <img class="img-sandwitch3" src="./img/Sandwitch.png" alt="">
                </div>
                <p class="menu-title">MENU</p>
            </button>

            <div class="topbar">
                <button class="title-name-and-img">
                    <h1 class="main-title">WOODER</h1>
                    <img class="img-on-main-title" src="./img/on-title.png" alt="">
                </button>
                <div class="title-links-group">
                    <a class="title-link" href="">HOME</a>
                    <a class="title-link" href="">PRODUCTS</a>
                    <a class="title-link" href="">ABOUT</a>
                </div>
            </div>

            <div class="info-topbar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                    <circle cx="8" cy="4.5" r="1" />
                </svg>
                <a class="lung-links" href="">EN</a>
            </div>
        </div>
    </header>
    <main>
        <div class="main-top-container">
            <h1 class="main-title-name">WOODER</h1>
            <div class="background-imgs">
                <section class="background-left">
                    <img class="line-number-down" src="./img/line-gold.png" alt="">
                    <h1 class="number-stage">01</h1>
                    <div class="btn-group">
                        <button class="around-btn"></button>
                        <button class="around-btn"></button>
                        <button class="around-btn"></button>
                        <button class="around-btn"></button>
                    </div>
                    <div class="main-on-img">
                        <button class="btn-learn-more btn-anim">LEARN MORE</button>
                        <img class="arrow-line-on-button" src="./img/line-right.png" alt="">
                        <img class="arrow-on-button" src="./img/arrow-right.png" alt="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-mouse" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" fill="white"
                                d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm4 8V5a4 4 0 0 0-8 0v6a4 4 0 0 0 8 0zM8 0a5 5 0 0 0-5 5v6a5 5 0 0 0 10 0V5a5 5 0 0 0-5-5z" />
                        </svg>
                        <div class="arrow-scroll">
                            <img class="arrow-line-down" src="./img/line-arrow-down.png" alt="">
                            <img class="arrow-down" src="./img/arrow-down.png" alt="">
                        </div>
                        <p class="scroll-text">SCROLL</p>
                    </div>
                </section>
                <section class="background-right">
                    <button class="settings-btn"><img src="./img/settings.png" alt=""></button>
                    <img class="gold-line" src="./img/line-gold.png" alt="">
                    <h1 class="text-decore">FURNITURE & DECOR</h1>
                </section>
            </div>
            <p class="big-leter-w">W</p>
        </div>

        <p class="big-leter-f">F</p>

        <div class="wraper">
            <section class="furniture">
                <div class="left-part-furn">
                    <img class="black-line" src="./img/black-line.png" alt="">
                    <img class="gold-line-furn" src="./img/on-title.png" alt="">
                </div>
                <section class="main-part-furn">
                    <h1 class="furn-name">FURNITURE</h1>
                    <p class="furn-text">
                        Wooder utilizes materials otherwise left behind,<br>
                        rendered useless in their original intent. By creat-<br>
                        ing new pieces made of reclaimed barnwood
                    </p>
                    <button class="learn-more"> LEARN MORE
                        <img class="arrow-line-btn" src="./img/gold-line-arrow.png" alt="">
                        <img class="arrow-btn" src="./img/gold-arrow-right.png" alt="">
                        <img class="line-btn" src="./img/small-gold-line.png" alt="">
                    </button>
                    <h1 class="furn-number">01</h1>
                    <p class="furn-point">.</p>
                    <img class="line-under-furn" src="./img/line-gold.png" alt="">
                </section>
                <img class="img-furn" src="./img/first-furn.png" alt="">
            </section>

            <p class="opacity-furn">FURNITURE</p>
            <p class="big-leter-d">D</p>

            <section class="decor">
                <img class="img-decor" src="./img/decor-image.png" alt="">
                <section class="main-part-decor">
                    <h1 class="decor-name">DECOR</h1>
                    <p class="decor-text">
                        We make all types of wooden decor as <br>
                        per design given by Architect, Interior <br>
                        designer, contractor which is suitable
                    </p>
                    <button class="learn-more"> LEARN MORE
                        <img class="arrow-line-btn" src="./img/gold-line-arrow.png" alt="">
                        <img class="arrow-btn" src="./img/gold-arrow-right.png" alt="">
                        <img class="line-btn" src="./img/small-gold-line.png" alt="">
                    </button>
                </section>
                <div class="right-part-decor">
                    <img class="black-line" src="./img/black-line.png" alt="">
                    <img class="gold-line-decor" src="./img/on-title.png" alt="">
                    <h1 class="decor-number">02</h1>
                    <p class="decor-point">.</p>
                    <img class="line-under-decor" src="./img/line-gold.png" alt="">
                </div>
            </section>
            <p class="opacity-decor">DECOR</p>

            <section class="video-main">
                <h1 class="video-title">WOODER - IS QUALITY</h1>
                <img class="line-under-title" src=./img/on-title.png alt="">
                <p class="video-text">We create unique design objects made
                    of rare wood, specially under the order.
                    Look at<br> the short video about our work.</p>
                <div class="video-line">
                    <section class="video first-video">
                        <img class="img-video img-video-first" src="./img/first-video.png" alt="">
                        <button class="btn-video btn-video-first"><img class="play" src="./img/play.png"
                                alt=""></button>
                        <div class="name-video">
                            <img src="./img/gold-line-arrow.png" alt="">
                            <p>Innovate Design</p>
                        </div>
                    </section>
                    <section class="video second-video">
                        <img class="img-video img-video-second" src="./img/second-video.png" alt="">
                        <button class="btn-video btn-video-second"><img class="play" src="./img/play.png"
                                alt=""></button>
                        <div class="name-video">
                            <img src="./img/gold-line-arrow.png" alt="">
                            <p>Hight-level Skills</p>

                        </div>
                    </section>
                    <section class="video third-video">
                        <img class="img-video img-video-third" src="./img/third-video.png" alt="">
                        <button class="btn-video btn-video-third"><img class="play" src="./img/play.png"
                                alt=""></button>
                        <div class="name-video">
                            <img src="./img/gold-line-arrow.png" alt="">
                            <p>Quality Products</p>
                        </div>
                    </section>
                </div>
            </section>

            <p class="big-leter-v">V</p>
            <p class="big-leter-a">A</p>

            <div class="black-block">
                <div class="gold-border">
                    <img class="big-play" src="./img/big-play.png" alt="">
                    <section class="main-part-black">
                        <h1 class="black-name">WE DO THE DESIGN<br> OF ANY COMPLEXITY</h1>
                        <h1 class="black-text">
                            This is a team of professionals that make the furniture and<br>
                            wood décor high standard. Creating modern designs.<br>
                            Adhering to the global quality standards. And we are<br>
                            doing work with love.
                        </h1>
                        <button class="btn-watch btn-anim"> WATCH VIDEO
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-play-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
                            </svg>
                        </button>
                        <div class="left-part-black">
                            <img class="white-line" src="./img/white-line-in-black.png" alt="">
                            <img class="gold-line-black" src="./img/on-title.png" alt="">
                        </div>
                        <img class="white-right-line" src="./img/right-line-in-black.png" alt="">
                    </section>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="about-us">
            <div class="block-about-us">
                <img src="./img/about-img.png" alt="">
            </div>
            <section class="main-part-about">
                <h1 class="about-name">ABOUT US</h1>
                <p class="about-text">
                    We are a team of professionals in the wood process-<br>
                    ing and the creation of wooden furniture<br>
                    of the highest class
                </p>
                <button class="learn-more"> LEARN MORE
                    <img class="arrow-line-btn" src="./img/gold-line-arrow.png" alt="">
                    <img class="arrow-btn" src="./img/gold-arrow-right.png" alt="">
                    <img class="line-btn" src="./img/small-gold-line.png" alt="">
                </button>
            </section>
            <div class="lines">
                <img class="black-line-us" src="./img/black-line.png" alt="">
                <img class="gold-line-black-us" src="./img/on-title.png" alt="">
            </div>
        </div>

        <div class="absolute-about">
            <p class="opacity-about">ABOUT US</p>
        </div>

        <section class="footer-under">
            <p class="wooder-footer">© 2016 WOODER</p>
            <div class="footer-title-name">
                <h1 class="footer-title">WOODER</h1>
                <img class="img-on-footer-title" src="./img/on-title.png" alt="">
            </div>
            <p class="by-footer">Designed by Viacheslav Olianishyn</p>
        </section>
    </footer>

    <!-- <script src="index.js"></script> -->

</body>

</html>